<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">golden touch school </a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded"
                    src="https://i.imgur.com/MyGHXta.jpg?1"
                    alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">{{ user.first_name }}
                    <strong>{{ user.last_name }}</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
            <div>
                <div class="input-group">
                    <input type="text" class="form-control search-menu" placeholder="Search...">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-graduation-cap"></i>
                        <span>Students</span>
                        <span class="badge badge-pill badge-warning">{{ student_count | length }}</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            {% for class in classes %}
                            <li>
                                <a href="{% url 'students' class.pk %}">{{ class.class_name }} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{% url 'parents' %}">
                        <i class="fas fa-users"></i>
                        <span>Parents</span>
                        <span class="badge badge-pill badge-danger">3</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fas fa-address-card"></i>
                        <span>Staff</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'teachers' %}">Teachers</a>
                            </li>
                            <li>
                                <a href="{% url 'non-teachers' %}">Support Staff</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-chart-line"></i>
                        <span>Accounts</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="accounts.html">School Account Numbers</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts' %}">Fees</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                        <i class="fa fa-globe"></i>
                        <span>Maps</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="{% url 'maps' %}">Google maps</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar">
                    <a href="{% url 'profile' %}">
                        <i class="far fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
        </a>
        <a href="#">
            <i class="fa fa-power-off"></i>
        </a>
    </div>
</nav>
<!-- sidebar-wrapper  -->