


img.thumbnail {
  border-radius: 50%;
}

.my_table{
  padding: 0px 20px 0px 0px;
}

.font-thin {
  font-weight: 300;
  font-size: 20px;
}

div{
  display: block;
}

img {
  border-radius: 50%;
}

.btn-sm {
  padding  : 1px 5px;
}