<!-- templates/registration/login.html -->
{% load static %}
<!DOCTYPE html>

<html lang="en-us">

<head>
  <title>Log in | Django site admin</title>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
  <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="login" data-admin-utc-offset="0">

  <!--CSS Spinner-->
  <div class="spinner-wrapper">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <!-- Container -->
  <div id="container">
    <!-- Header -->
    <div id="header">
      <div id="branding">
        <h1 id="site-name"><a href="/admin/">Shule Bora Admin Panel</a></h1>
      </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
      {% if messages %}
      <p class="errornote">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </p>
      {% endif %}

      <div id="content-main">
        <form action="{% url 'login'%}" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken"
            value="PUmHOBDK7XmYmDq3NRyhU5529tWq3vnCcvYoc0MNEg3mtw62mjKmNcVQiZPJMvUp">
          {% csrf_token %}
          <div class="form-row">
            <label class="required" for="id_username">Username:</label> <input type="text" name="username"
              id="id_username" required autofocus>
          </div>
          <div class="form-row">
            <label class="required" for="id_password">Password:</label> <input type="password" name="password"
              id="id_password" required>
            <input type="hidden" name="next" value="/admin/">
          </div>
          <div class="submit-row">
            <label>&nbsp;</label><input id="sub" type="submit" value="Log in">
          </div>
        </form>
      </div>
      <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
  </div>
  <!-- END Container -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      //Preloader
      $(window).on("load", function () {
        preloaderFadeOutTime = 500;
        function hidePreloader() {
          var preloader = $('.spinner-wrapper');
          preloader.fadeOut(preloaderFadeOutTime);
        }
        hidePreloader();
      });
    });
  </script>
</body>

</html>