<div class="modal static fade" id="pop-password-93802" role="dialog" aria-labelledby="header-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="header-label"><i class="fa fa-key"></i> Change Password</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="https://smartschool.co.ke/home/profile" accept-charset="UTF-8"
                    id="password-93802" onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false;"
                    data-cf-modified-f3ec3b869b235a50d4837421-=""><input name="_method" type="hidden"
                        value="PATCH"><input name="_token" type="hidden"
                        value="iD9YialxO2GTnzv5ttLcltAVvRr0jCdiSUpSNTRF">
                    <div class="err-password-93802"></div>
                    <div class="form-group">
                        <input id="current_password" class="form-control" placeholder="Current Password"
                            name="current_password" type="password">
                    </div>
                    <div class="form-group">
                        <input id="new_password" class="form-control" placeholder="New Password" name="new_password"
                            type="password">
                    </div>
                    <button type="button" class="btn btn-primary btn-block password-93802"
                        onclick="if (!window.__cfRLUnblockHandlers) return false; poster('password-93802')"
                        data-cf-modified-f3ec3b869b235a50d4837421-=""><i class="fa fa-check"></i> Set New
                        Password</button>
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal"><i
                            class="fa fa-ban"></i> Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>