{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">


<!--JQUERY CONFIRM DIALOGUE-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

{% endblock style%}

{% block content %}
<section>
    <header class="header">
        <!-- change password modal -->
        {% include 'user_profile/change_password.html' %}
        <!-- end password change modal -->
        <button data-target="#pop-profile-edit" data-toggle="modal" class="btn btn-sm btn-primary"><i
                class="fas fa-edit"></i> Edit Details</button>
        <button data-target="#pop-password-93802" data-toggle="modal" class="btn btn-sm btn-default m-r-xxs"><i
                class="fas fa-key"></i> Change Password</button>
    </header>

    <!-- edit profile modal -->
    {% include 'user_profile/edit_profile.html' %}
    <!--End edit profile-->
</section>


<!--PAY FEE FORM -->
{% include 'user_profile/p2.html' %}
<!--END PAY FEE FORM-->
{% endblock %}